<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,800" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    
    <title>#{pageTitle} | Opendata Cinémas</title>
</head>
<body>

<main class="container">
    
    //- Emplacement du contenu utilisé par les différentes vues .pug
    block content

</main>

//- Emplacement des potentiels scripts utilisés par les différentes vues .pug
block scripts

</body>
</html>