extends layout.pug

block content
    <h1>Recherche de places</h1>

    <p>Formulaire de recherche ...</p>

//- Ce block représente au sens de PUG la partie affichée à l'emplacement du block "scripts" dans layout.pug
block scripts
    <script src="js/app.js"></script>