extends layout.pug

block content
    <h1>Recherche de places</h1>

    <form id="form-search" action="/search" method="POST">
        
        <div class="form-group">
            <label for="fauteuils">Fauteuils</label>
            <select name="operation_fauteuils">
                <option selected> </option>
                <option value="=">=</option>
                <option value=">">&gt;</option>
                <option value="<">&lt;</option>
            </select>
            <input name="fauteuils" type="number">
        </div>

        
        <div class="form-group">
            <label for="ecrans">Écrans</label>
            <select name="operation_ecrans">
                <option selected> </option>
                <option value="=">=</option>
                <option value=">">&gt;</option>
                <option value="<">&lt;</option>
            </select>
            <input name="ecrans" type="number">
        </div>

        <div class="form-group">        
            <label for="arrondissement">Arrondissement</label>
            <input name="arrondissement" type="text">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">Rechercher !</button>
        </div>
    </form>


    <section id="results">
        <table border="1">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Arrondissement</th>
                    <th>Fauteuils</th>
                    <th>Ecrans</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>

block scripts
    <script src="js/search.js"></script>