extends layout.pug

block content
    <a href="/" class="btn btn-small">&laquo; Retour à l'accueil</a>

    <hr>

    <h1>Inscription</h1>

    <form method="post" action="/signup">
        <div class="form-group">
            <label for="lastname">Nom :</label>
            <input type="text" id="lastname" name="lastname" placeholder="DOE">
        </div>
        
        <div class="form-group">
            <label for="firstname">Prénom :</label>
            <input type="password" id="firstname" name="firstname" placeholder="John">
        </div>
        
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" placeholder="john.doe@example.com">
        </div>
        
        <div class="form-group">
            <label for="pass">Mot de passe :</label>
            <input type="password" id="pass" name="pass" placeholder="**********">
        </div>
        
        <div class="form-group">
            <label for="pass_confirmation">Confirmation :</label>
            <input type="password" id="pass_confirmation" name="pass_confirmation" placeholder="**********">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">S'inscrire</button>
        </div>
    </form>