* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

.container {
    background-color: #fff;
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1em;
    overflow: auto;
    box-shadow: 0 0 15px #c0c0c0;
}