* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3 {
    color: #3bb27c;
}

.container {
    position: relative;
    z-index: 1;
    background-color: #fff;
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1em;
    overflow: auto;
    box-shadow: 0 0 15px #c0c0c0;
}

/**
 * Styles pour un bouton
 */

.btn {
    display: inline-block;
    padding: 0.5em 1.4em;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background: linear-gradient(to bottom, #42b983, #128953);
}

.btn:hover {
    color: #fff;
    background: linear-gradient(to bottom, #42b983 50%, #128953);
}

.btn:active {
    background: linear-gradient(to bottom, #128953, #42b983 50%);
}

.btn:disabled {
    background: linear-gradient(to bottom, #eeeeee, #d3d3d3);
    cursor: not-allowed;
}

.btn.btn-small {
    padding: 0.15em 0.5em;
    font-size: 0.9em;
}

/**
 * Style pour les formulaires
 */

form input[type='text'],
form input[type='search'],
form input[type='email'],
form input[type='password'],
form input[type='date'],
form input[type='url'],
form select {
    padding: 0.5em 0.9em;
    border-radius: 2px;
    border: thin solid #c0c0c0;
    background: linear-gradient(to bottom, #e6e6e6 0%, transparent 20%);
}

form .form-group {
    margin-bottom: 1.2em;
}

form .form-actions {
    padding-left: 152px;
}

form label {
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
    text-align: right;
}

hr {
    margin-top: 1em;
    border: thin solid #d0d0d0;
    box-shadow: 0 0.0625rem 0 #e0e0e0;
}

/**
 * Alertes
 */

.alert {
    margin: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px #dddddd;
}

.alert.alert-danger {
    background-color: #ffdada;
    box-shadow: 0 4px 8px #ebc2c2;
}

.alert.alert-success {
    background-color: #daffda;
    color: #4a9a4a;
    box-shadow: 0 4px 8px #c2ebc2;
}

.alert.alert-flash {
    margin: -1em 0 0 0;
    position: relative;
    z-index: 2;
    animation: disappear 3s linear forwards;
    transform-origin: 0 0;
}

@keyframes disappear {
    0% { transform: scaleY(1) }
    90% { transform: scaleY(1) }
    100% { transform: scaleY(0) }
}

/**
 * Navigation
 */

nav {
    background-color: #42b983;
    margin-bottom: 1em;
    overflow: auto;
}
nav ul {
    color: #fff;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav li {
    margin: 0 0.2rem;
}
nav li.pull-right {
    margin-left: auto;
}
nav .brand {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
}

/**
 * Liens
 */

a {
    color: #4a9a4a;
}
a:hover {
    text-decoration: none;
}